* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.8s;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #0e1111;
}

.container {
  margin: 35px;
  width: calc(100vw - 70px);
  height: calc(100vh - 70px);
  background-color: #0e1111;
  border: 1px solid #E0E1E4;
  color: #E0E1E4;
}

header {
  padding: 20px 20px;
  border-bottom: 1px solid #E0E1E4;
  display: flex;
  justify-content: space-between;
  height: 110px;
}

header div {
  display: flex;
  justify-content: space-between;
  flex-direction: columngit;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

#theme-toggle {
  cursor: pointer;
}

#navbar {
  padding-left: 20px;
  height: calc(100% - 110px);
  width: 150px;
  border-right: 1px solid #E0E1E4;
}

#navbar-elements-list {
  list-style: none;
}

.navbar-element:first-child {
  padding-top: 1rem;
}

.navbar-element {
  padding-bottom: 1rem;
}

.navbar-element-link {
  text-decoration: none;
  color: #E0E1E4;
  font-size: 1rem;
  font-weight: 500;
  text-underline-offset: 0.5rem;
}

.navbar-element-link:hover {
  text-decoration: underline;
}

.navbar-element.selected .navbar-element-link {
  text-decoration: underline;
}

.navbar-element.selected .navbar-element-link:hover {
  text-decoration: none;
}

#theme-toggle {
  color: #0e1111;
  background-color: #E0E1E4;
  width: 42px;
  height: 42px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

/* Light Mode */

body.light-mode {
  background-color: #E0E1E4;
  color: #000;
}

body.light-mode .container {
  background-color: #E0E1E4;
  border: 1px solid #0e1111;
}

body.light-mode h1, body.light-mode h2, body.light-mode #theme-toggle {
  color: #0e1111;
}

body.light-mode header {
  border-bottom: 1px solid #0e1111;
}

body.light-mode .navbar-element-link {
  color: #0e1111;
}

#theme-toggle-light {
  color: #E0E1E4;
  background-color: #0e1111;
  width: 42px;
  height: 42px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}